.holder {
  position: relative;
  z-index: 0;
  /* border: 2px solid green; */
  height: 100%;
  width: 100%;
  margin-bottom: 550px;
  box-sizing: border-box;
}

.carouselMainHolder {
  height: 400px;
  /* border: 1px solid red; */
  background: rgba(194, 208, 209, 0.507);
  /* position: relative; */
  overflow: hidden;
  /* z-index: 0; */
  box-sizing: border-box;
}

.HomeGridHolder {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 90%;
  /* border: 1px solid red; */
  margin: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .holder {
    margin-bottom: 1200px;
  }
}

@media screen and (min-width: 200px) and (max-width: 479px) {
  .HomeGridHolder {
    top: 40%;
  }
  .holder {
    margin-bottom: 2340px;
  }
}
