.filterMain {
    border: 1px solid rgba(128, 128, 128, 0.877);
    border-right: none;
    padding-left: 5px;
    width: 20%;
    text-align: left;
  }
  
  @media screen and (min-width: 100px) and (max-width: 767px) {
    .filterMain {
      width: 100%;
      overflow-x: scroll;
      align-items: center;
    }
  }
  