.container {
  background: none;
  width: 95vw;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  /* background-color: rgba(213, 236, 236, 0.377); */
  align-items: center;
  /* border: 1px solid red; */
  box-sizing: border-box;
  gap: 20px;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.gridItem {
  height: 300px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  /* border: 1px solid red; */
  height: 90%;
  width: 90%;
  object-fit: contain;
  margin: auto;
}

.multImage {
  height: 80px;
  width: 80px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 200px) and (max-width: 479px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
